.item-head{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 0;
}
.item-head .head{
    margin-bottom: 1rem;
}
.item-head .data{
    color: var(--backgroundSecondary);
}
.order-text-parent{
    display: flex;
    justify-content: center;
}
.order-text-parent span{
    color: var(--backgroundSecondary);
}