@import url('../css/themes.css');
@import url('../css/navbar.css');
@import url('../css/footer.css');
@import url('../css/forms.css');
div span.head{
    font-weight: bold;
}
div span.answer{
    color: var(--backgroundSecondary);
}
.profile-div-container > div{
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--backgroundTernary);
}
.account-container{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
a.primary{
    color: var(--backgroundSecondary);
}
.deposit-amount-container{
    display: none;          /*hidden by default */
}